.about-container {
  display: flex;
  padding: var(--padding);
  gap: 10rem;
}

.about-container .text h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about-container .text p {
  max-width: 75%;
  line-height: 1.7rem;
}

.about-container .list .heading {
  /* font-size: 2rem; */
  font-weight: 700;
  margin-bottom: 1rem;
}

.about-container .list .list-item {
  margin-bottom: 2rem;
}

.about-container .list {
  counter-reset: count;
  position: relative;
}

.about-container .list .heading::before {
  counter-increment: count;
  content: "0" counter(count);
  position: absolute;
  margin-right: 1rem;
  background: var(--color-primary-red);
  padding: 0.5rem 1.5rem;
  color: var(--color-neutral-light-gray);
  border-radius: 2rem;
  left: -6rem;
  margin-top: -0.5rem;
}

.about-container .list p {
  max-width: 75%;
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    padding: var(--padding-mobile);
    text-align: center;
    gap: 5rem;
  }
  .about-container .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-container .list .list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 0;
    margin-top: 1rem;
  }

  .about-container .list p {
    max-width: 100%;
  }
}
