footer {
  margin-top: 15rem;
}

footer .top {
  padding: var(--padding);
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary-red);
  position: relative;
  overflow: hidden;
}

footer .top::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3rem;
  width: 100%;
  height: 100%;
  background: url("../../assets/bg-tablet-pattern.svg") no-repeat;
  opacity: 0.1;
}

footer .top::after {
  content: "";
  position: absolute;
  top: -5rem;
  right: -34rem;
  width: 100%;
  height: 100%;
  background: url("../../assets/bg-tablet-pattern.svg") no-repeat;
  transform: rotate(180deg);
  opacity: 0.1;
}

footer .top h1 {
  color: var(--color-neutral-light-gray);
  max-width: 35%;
}

footer .top button {
  background-color: var(--color-neutral-light-gray);
  color: var(--color-primary-red);
  z-index: 1;
  transition: var(--transition);
}

footer .top button:hover {
  color: var(--color-secondary-red);
  opacity: 1;
}

footer .bottom {
  padding: var(--padding);
  background: var(--color-neutral-dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30vh;
}

footer .bottom .col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

footer .social-icons {
  display: flex;
  gap: 0.5rem;
}

footer .bottom .col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  align-self: flex-start;
}

footer .bottom .col3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  align-self: flex-start;
}

footer .bottom .col4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
footer .bottom .col4 input {
  margin-right: 1rem;
  padding: 1rem;
  padding-right: 3rem;
  border-radius: 2rem;
}

footer .col4 button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

footer .col4 button:hover {
  background-color: var(--color-secondary-red);
  color: var(--color-neutral-pale-red);
  opacity: 1;
}
footer a:hover {
  color: var(--color-primary-red);
  transition: var(--transition);
}

footer a svg path:hover {
  fill: var(--color-primary-red);
  transition: var(--transition);
}

.col4 input {
  color: var(--color-primary-red);
}

.email-container.error input {
  border: 2px solid var(--color-primary-red);
}

.email-container {
  position: relative;
}

.email-container.error .email-container::after {
  content: "Invalid email";
  color: var(--color-primary-red);
  background: red;
  position: absolute;
  bottom: -1rem;
  left: 0;
  font-size: 0.8rem;
  font-weight: bold;
}

/* display error message under input */
/* .error {
  color: var(--color-primary-red);
  position: absolute;
  bottom: -1rem;
  left: 0;
  font-size: 0.8rem;
  font-weight: bold;
} */
