.testimonials-container {
  /* padding: var(--padding); */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 4rem;
  overflow-x: hidden;
}

.testimonials-container .heading {
  text-align: center;
  margin-bottom: 4rem;
}

.swiper {
  max-width: 110vw;
  height: 40vh;
  position: relative;
}

.swiper-slide {
  margin-top: 3rem;
  background: var(--color-neutral-light-gray);
  /* background: red; */

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* justify-content: center; */
  align-items: center;
  max-width: 45vw;
  position: relative;
  max-height: 30vh;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .swiper-slide {
    max-width: 80vw;
  }
}

.swiper-slide img {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: auto;
  /* left: 50%; */
  width: 5rem;
  margin-bottom: 2rem;
}
.carousel-container {
  position: relative;
}

.carousel-container h5 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--color-primary-blue);
  text-align: center;
}
.carousel-container p {
  text-align: center;
}

.carousel-container .text {
  height: 80%;
  background: var(--color-neutral-light-gray);
}

.testimonials-container .btn {
  margin-bottom: 1rem;
  box-shadow: 0px 10px 10px -6px var(--color-primary-red);
}
